{% extends "base.html" %}

{% block content %}

{% csrf_token %}

{% for skill in skills %}

    <h2>{{ skill.name }}</h2>

    <table>
        {% for task in tasks %}
            {% if task.skill == skill %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.completion_time|time:'H:i' }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <form method='POST' action='' class="overview_task">
        <label for="task_name_1">Task name:</label>
        <input id="task_name_1" maxlength="255" name="name" type="text">

        <label for="task_time_1">Completion time:</label>
        <input id="task_time_1" name="completion_time" type="time">

        <input type="submit" value="Add">
    </form>

{% endfor %}

<p>Add a new skill</p>

<form method='POST' action='' class="overview_skill">
    <label for="skill">Skill name:</label>
    <input id="skill" maxlength="255" name="name" type="text">

    <p>
    <label for="task_name_1">Task name:</label>
    <input id="task_name_1" maxlength="255" name="name" type="text">

    <label for="task_time_1">Completion time:</label>
    <input id="task_time_1" name="completion_time" type="time">
    </p>

    <p>
    <label for="task_name_2">Task name:</label>
    <input id="task_name_2" maxlength="255" name="name" type="text">

    <label for="task_time_2">Completion time:</label>
    <input id="task_name_2" name="completion_time" type="time">
    </p>

    <p>
    <label for="task_name_3">Task name:</label>
    <input id="task_name_3" maxlength="255" name="name" type="text">

    <label for="task_time_3">Completion time:</label>
    <input id="task_name_3" name="completion_time" type="time">
    </p>

    <input type="submit" value="Add">
</form>

<p>Availability</p>
<table>
    <tr>
        <td>Mon</td>
        <td>Tues</td>
        <td>Weds</td>
        <td>Thurs</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Sun</td>
    </tr>
    <tr>
        <td>{{ days.monday|time:'H:i' }}</td>
        <td>{{ days.tuesday|time:'H:i' }}</td>
        <td>{{ days.wednesday|time:'H:i' }}</td>
        <td>{{ days.thursday|time:'H:i' }}</td>
        <td>{{ days.friday|time:'H:i' }}</td>
        <td>{{ days.saturday|time:'H:i' }}</td>
        <td>{{ days.sunday|time:'H:i' }}</td>
    </tr>
</table>

{% endblock %}
